<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tap Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tap Counter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>{{counter}}</h1>
    <p>{{message}}</p>
    <ion-button expand="block" (click)="incrementPressed()">Increment</ion-button>
    <ion-button expand="block" (click)="decrementPressed()" color="secondary" [disabled]="counter == 0">Decrement</ion-button>
    <ion-button expand="block" (click)="resetPressed()" color="danger">Reset</ion-button>
  </div>
</ion-content>